.trialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: #01996d;
    color: white;
}

/** Banner Section */
.banner {
    position: relative;
    min-height: 100vh;
    background: url("../public/Background.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.bannerContent {
    margin-left: 5em;
    margin-top: 3em;
}

.bannerContent h2 {
    font-size: 3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #01996d;
    line-height: 1.2em;
}

.bannerContent p {
    margin-top: 20px;
    font-size: 1em;
    font-weight: normal;
    max-width: 27%;
    margin-bottom: 65px;
}

.bannerContent a {
    text-decoration: none;
    background-color: #01996d;
    padding: 20px 40px;
    border-radius: 4px;
    color: white;
}

/** Information Section */

.information {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.information .header {
    display: flex;
    flex-direction: column;
}

.information .text {
    margin-bottom: 5px;
    font-weight: 700;
}

.information .header .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information .header .title h2 {
    font-size: 3em;
    color: #01996d;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-right: 10px;
}

.information .header .title p {
    font-size: 1.2em;
}

.information .header .title h2,
.information .header .title p {
    min-width: 50%;
}

.information .body {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.information .body .content {
    margin: 10px 20px;
    justify-content: space-between;
}

.information .body .content h1 {
    font-size: 9em;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgba(1, 153, 109, 0.2);
    position: absolute;
}

.information .body .content h2 {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.information .body .content p {
    font-size: 1.3em;
    margin-top: 75px;
    margin-bottom: 50px;
}

.information .body .content1 {
    margin-top: 10px;
}

.information .body .content2 {
    margin-top: 320px;
}

.information .body .content3 {
    margin-top: 70px;
}

/** About Section */

.about {
    background-color: #245852;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about .header h2 {
    color: white;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 70px;
    margin-bottom: 20px;
}

.about .header p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 70px;
}

.about .header a {
    background-color: #01996D;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.about .body img {
    border-radius: 16px;
    width: 700px;
    height: 400px;
}
